<!DOCTYPE html>
<html lang="en" ng-app="toDo">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ToDoApp</title>

    <link rel="stylesheet" href="styles.css">
    <script src="https://use.fontawesome.com/0198d2d98c.js"></script>
</head>

<body ng-controller="mainController">

    <header>
      <h1>snapTask</h1>
        <div class="social">
          VijayPatha&copy|2016
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                  </div>
    </header>

    <div class="dataInput">
        <input type="text" name="name" value="" placeholder="Add a task..." ng-model="addTask">
        <button type="button" name="button" ng-click="submitButton()">Submit</button>
    </div>

    <br>
    <br>

    <div class="displayTask" ng-repeat="task in myTaskArray">
        <p>
          <input type="checkbox" name="name" value="" placeholder="Add a task..." ng-model="addTask">
          {{task}}
            <button type="button" name="button" ng-click="deleteButton(task)">Delete</button>
        </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="./scripts/app.js" charset="utf-8"></script>
    <script src="./scripts/mainController.js" charset="utf-8"></script>
    <script src="./scripts/dataService.js" charset="utf-8"></script>
</body>

</html>
