body {
    /*background-image: url(./assets/ballon.jpg);
    background-size: cover;*/
}
.social>a {
    padding: 8px;
    color: black;
}
.social>p {
    color: black;
    font-family: "Courier New", sans-serif, monospace;

}
h1 {
    font-family: "Courier New", sans-serif, monospace;
    margin-bottom: 5px;
    /*color: white;*/
    color:black;
}
.dataInput {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.dataInput>input {
    border-radius: 20px;
    height: 40px;
    width: 350px;
    margin-right: 25px;
    border: 1px solid green;
    font-size: 20px;
    text-align: center;
    font-family: "Courier New", sans-serif, monospace;

}
input:focus{
  outline: none;
}
button:focus{
  outline:none;
}
.dataInput>button {
    border-radius: 20px;
    height: 40px;
    width: 60px;
    border: 1px solid green;
    background-color: white;
}
.displayTask {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.15em;
    font-family: "Courier New", sans-serif, monospace;

}
.displayTask>p>button {
    margin-left: 25px;
    border-radius: 20px;
    color: black;
    border: 1px solid red;
    background-color: white;
    font-family: "Courier New", sans-serif, monospace;

}
.displayTask>p>input {
    border-radius: 20px;
    border: 1px solid green;
    margin-right: 25px;
}
